<br></h1> Edit Artcile Page </h1>

<%= form_for @article do |form| %>
  
 	<%= form.text_field :title, placeholder: "Title", class: "form-control" %><br>

    <%= form.text_area :content, placeholder: "Say What!!" %> <br>



  <%= form.submit "Update Article!" %>
<% end %> 