<h1 class="header"> Put your space suit on and bring a change of underwear becasue you're about to </h1>

<div class="moon_link">
	<%= link_to image_tag("http://orig11.deviantart.net/bbfb/f/2010/237/1/a/full_moon_by_avmorgan.png", size: "200x200"), city_path(1) %>
</div>


<div class="moon_tag">Visit The Moon!</div>

<div class="mars_link">
	<%= link_to image_tag("https://lh3.ggpht.com/b9zxwGMelrN9YX1AFei-oNFMmRThay2yhmmXLMuopAujv2fqCldS2RfYcg3kHx-OeLeV=w170", size: "300x300"), city_path(2) %>
</div>

<div class="mars_tag">Visit Mars!</div>


<div class="brad_link">
	<%= link_to image_tag("https://upload.wikimedia.org/wikipedia/commons/8/87/Transhab-cutaway.jpg", size: "300x400"), city_path(3) %>
</div>

<div class="brad_tag">Visit Brad's Inflatable Space Hotel of <span class="love">Love ♥</span></div>


