
<body>
	<h1>This is our Home page</h1>
	<br>
	<%= link_to "San Francisco", city_path(1) %><br>
	<%= link_to "London", city_path(2) %><br>
	<%= link_to "Gibraltar", city_path(3) %><br>
</body>
</html> 



