<h1> User profile page here </h1>

Why Hello there, <%= @user.first_name %>!<br>

You are from: <%= @user.city %><br>

<%= @user.created_at %><br>

<%= link_to "Update Info", edit_user_path(@user) %> <br>


