<H1>Cities Page</H1>

<img class="map2" src="">

<% @cities.articles.each do |article| %>
	<div class="articles2">
    <li><%= link_to article.title, article %></li>
    <li><%= article.city %></li>
    <li><%= article.content %></li>
    </div>
 <% end %>

 
