
/*MOON LINK*/

.moon_line {
	background-color: white;
	width: 2px;
	height: 150px;
	margin-top: 10%;
	margin-left: 41.5%;
	position: absolute;
}

.moon_tag {
	width: 90px;
	margin-left: 36%;
	margin-top: 105px;
}

.moon_link {
	width: 90px;
	font-family: Lobster;
	margin-left: 36%;
	margin-top: 20px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
}

.moon_link:hover {
	width: 90px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	margin-left: 36%;
	margin-top: 20px;
	color: red;
}


/*MARS LINK*/


.mars_line {
	background-color: white;
	width: 2px;
	height: 150px;
	margin-top: 15%;
	margin-left: 47%;
	position: absolute;
}

.mars_tag {
	width: 90px;
	margin-left: 44%;
	margin-top: 25%;
	position: absolute;
}

.mars_link {
	width: 90px;
	font-family: Lobster;
	color: white;
	text-decoration: none;
	font-size: 40px;
}

.mars_link:hover {
	width: 90px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	color: red;
}


/*BRAD LINK*/

.brad_line {
	background-color: white;
	width: 2px;
	height: 150px;
	margin-top: -4%;
	margin-left: 95%;
	position: absolute;
}


.brad_tag {
	width: 410px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	margin-left: 70%;
	margin-top: -8%;
}

.brad_link {
	width: 90px;
	font-family: Lobster;
	color: white;
	text-decoration: none;
	font-size: 40px;
}

.brad_link:hover {
	width: 90px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	color: red;
}






