.homepage_header {
	color: red;
	font-family: Lobster;
	font-size: 40px;
	margin-left: 3%;
}

/*MOON LINK*/

.moon_line {
	background-color: white;
	width: 2px;
	height: 150px;
	margin-top: 5%;
	margin-left: 41.5%;
	position: absolute;
}

.moon_tag {
	width: 90px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	margin-left: 39%;
	margin-top: 20px;
}

.moon_tag:hover {
	width: 90px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	margin-left: 39%;
	margin-top: 20px;
	color: red;
}


/*MARS LINK*/


.mars_line {
	background-color: white;
	width: 2px;
	height: 150px;
	margin-top: 15%;
	margin-left: 47%;
	position: absolute;
}

.mars_tag {
	width: 90px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	margin-left: 44%;
	margin-top: 25%;
}

.mars_tag:hover {
	width: 90px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	margin-left: 44%;
	margin-top: 25%;
	color: red;
}


/*BRAD LINK*/

.brad_line {
	background-color: white;
	width: 2px;
	height: 150px;
	margin-top: -33%;
	margin-left: 95%;
	position: absolute;
}

.brad_tag {
	width: 410px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	margin-left: 70%;
	margin-top: -37.6%;
}

.brad_tag:hover {
	width: 410px;
	color: white;
	text-decoration: none;
	font-family: Lobster;
	font-size: 40px;
	margin-left: 70%;
	margin-top: -37.6%;
	color: red;
}




