
.logout_link {
	color: white;
	font-size: 25px;
	text-decoration: none;
	font-family: Lobster;
}

.logout_link:hover {
	color: red;
	text-decoration: none;
	font-family: Lobster;
}

.signup_link {
	color: white;
	font-size: 25px;
	text-decoration: none;
	font-family: Lobster;
}

.signup_link:hover {
	color: red;
	text-decoration: none;
	font-family: Lobster;
}

.login_link {
	color: white;
	font-size: 25px;
	text-decoration: none;
	font-family: Lobster;
}

.login_link:hover {
	color: red;
	text-decoration: none;
	font-family: Lobster;
}

.navbar a{
	font-family: Lobster;
}

.hash {
	color: transparent;
}