.article_create_header {
	font-family: Lobster;
	font-size: 50px;
	text-align: center;
	color: white;
	padding-bottom: 2%;
}

.article_input_form {
	width: 50%;
	margin: 0 auto;
}

.article_input_form2 {
	width: 55%;
	margin: 0 auto;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.4);
	padding: 1%;
}

.title_input_field {
	border-radius: 10px;
	width: 40%;
	margin: 0 auto;
}

.input_field {
	border-radius: 10px;
}

.input_field2 {
	border-radius: 10px;
	margin-left: 2%;
}

.dropdown_menu {
	margin-left: 37%;
	margin-bottom: 1%;
	font-size: 20px;
}

.submit_button {
	font-size: 30px;
	font-family: Lobster;
	margin-left: 43%;
	border-radius: 10px;
}